<div>
        <div class="form-group m-3">
            <h4>Enter new information</h4>
            <label>Id</label>
            <input class="form-control" name="pId" [(ngModel)]="pId">
            <!-- <select class="form-control" name="pId" [(ngModel)]="pId"> -->
                <!-- <option value="" selected>5</option>
                <option selected disabled>none</option> -->
                <!-- <option *ngFor="let project of projects">
                    {{project.id}}
                </option>
                
            </select> -->
            <label>Name</label>
            <input class="form-control" name="pName" [(ngModel)]="pName">
            <label>Created at</label>
            <input class="form-control" name="pCreatedAt" [(ngModel)]="pCreatedAt">
            <div class="form-group">
                <button class="btn btn-success mt-2" (click)="editTeam(pId, pName, pCreatedAt)">Edit</button>
            </div>
        </div>
    </div>