<form class="form-group m-2">
        <h5>Enter information (some fields can be empty)</h5>
        <div class="form-group">
            <label for="nameInput2" id="nameLabel2">Name</label>
            <input type="text" class="form-control" id="nameInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="descriptionInput2" id="descriptionLabel2">Description</label>
            <input type="text" class="form-control" id="descriptionInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="createdAtInput2" id="createdAtLabel2">Created at</label>
            <input type="text" class="form-control" id="createdAtInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="deadlineInput2" id="deadlineLabel2">Deadline</label>
            <input type="text" class="form-control" id="deadlineInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="authorIdInput2" id="authorIdLabel2">Author Id</label>
            <input type="text" class="form-control" id="authorIdInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="teamIdInput2" id="teamIdLabel2">Team Id</label>
            <input type="text" class="form-control" id="teamIdInput2" placeholder="Enter something">
        </div>
        <button type="button" class="btn btn-primary mb-2" id="changeButton2" (click)="addProject()">Add new item</button>
    </form>