<div>
    <div class="form-group m-3">
        <h4>Enter new information</h4>
        <label>Id</label>
        <input class="form-control" name="tId" [(ngModel)]="tId">
            <!-- <select class="form-control" name="pId" [(ngModel)]="pId"> -->
                <!-- <option value="" selected>5</option>
                <option selected disabled>none</option> -->
                <!-- <option *ngFor="let project of projects">
                    {{project.id}}
                </option>
                
            </select> -->
        <label>Name</label>
        <input class="form-control" name="tName" [(ngModel)]="tName">
        <label>Description</label>
        <input class="form-control" name="tDescription" [(ngModel)]="tDescription">
        <label>Created at</label>
        <input class="form-control" name="tCreatedAt" [(ngModel)]="tCreatedAt">
        <label>Finished at</label>
        <input class="form-control" name="tFinishedAt" [(ngModel)]="tFinishedAt">
        <label>State</label>
        <input class="form-control" name="tState" [(ngModel)]="tState">
        <label>Project Id</label>
        <input class="form-control" name="tProjectId" [(ngModel)]="tProjectId">
        <label>Performer Id</label>
        <input class="form-control" name="tPerformerId" [(ngModel)]="tPerformerId">
        <div class="form-group">
            <button class="btn btn-success mt-2" (click)="editProjectTask(tId, tName, tDescription, tCreatedAt, tFinishedAt, tState,tProjectId, tPerformerId)">Edit</button>
        </div>
    </div>
</div>