<div id="teams-show" *ngFor = "let team of teams">
    <p><b>Id: </b>{{ team.id}}</p>
    <p><b>Name: </b>{{ team.name }}</p>
    <p id="last-p"><b>Created at: </b>{{team.createdAt | MyDatePipe}}</p>
</div>
