<div>
    <div class="form-group m-3">
        <h4>Enter new information</h4>
        <label>Id</label>
        <input class="form-control" name="pId" [(ngModel)]="pId">
        <!-- <select class="form-control" name="pId" [(ngModel)]="pId"> -->
            <!-- <option value="" selected>5</option>
            <option selected disabled>none</option> -->
            <!-- <option *ngFor="let project of projects">
                {{project.id}}
            </option>
            
        </select> -->
        <label>Name</label>
        <input class="form-control" name="pName" [(ngModel)]="pName">
        <label>Description</label>
        <input class="form-control" name="pDescription" [(ngModel)]="pDescription">
        <label>Created at</label>
        <input class="form-control" name="pCreatedAt" [(ngModel)]="pCreatedAt">
        <label>Deadline</label>
        <input class="form-control" name="pDeadline" [(ngModel)]="pDeadline">
        <label>AuthorId</label>
        <input class="form-control" name="pAuthorId" [(ngModel)]="pAuthorId">
        <label>TeamId</label>
        <input class="form-control" name="pTeamId" [(ngModel)]="pTeamId">
        <div class="form-group">
            <button class="btn btn-success mt-2" (click)="editProject(pId, pName, pDescription, pCreatedAt, pDeadline, pAuthorId, pTeamId)">Edit</button>
        </div>
    </div>
</div>