<div id="projectTasks-show" *ngFor = "let projectTask of projectTasks">
    <p><b>Id: </b>{{ projectTask.id}}</p>
    <p><b>Name: </b>{{ projectTask.name }}</p>
    <p><b>Description: </b>{{ projectTask.description }}</p>
    <p><b>Created at: </b>{{projectTask.createdAt | MyDatePipe}}</p>
    <p><b>Finished at: </b>{{ projectTask.finishedAt | MyDatePipe}}</p>
    <p><b>State: </b>{{ projectTask.state }}</p>
    <p><b>Project Id: </b>{{ projectTask.projectId }}</p>
    <p id="last-p"><b>Performer Id: </b>{{ projectTask.performerId }}</p>
</div>