<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group m-2" role="group">
      <button type="button" class="btn btn-success" disabled>Projects</button>
      <button type="button" class="btn btn-secondary" routerLink="/projects-show" routerLinkActive="active">Show</button>
      <button type="button" class="btn btn-secondary" routerLink="/project-edit" routerLinkActive="active">Edit</button>
      <button type="button" class="btn btn-secondary" routerLink="/project-add" routerLinkActive="active">Add</button>
    </div>
    <div class="btn-group m-2" role="group">
      <button type="button" class="btn btn-success" disabled>Tasks</button>
      <button type="button" class="btn btn-secondary" routerLink="/project-tasks-show" routerLinkActive="active">Show</button>
      <button type="button" class="btn btn-secondary" routerLink="/project-task-edit" routerLinkActive="active">Edit</button>
      <button type="button" class="btn btn-secondary" routerLink="/project-task-add" routerLinkActive="active">Add</button>
    </div>
    <div class="btn-group m-2" role="group">
      <button type="button" class="btn btn-success" disabled>Teams</button>
      <button type="button" class="btn btn-secondary" routerLink="/teams-show" routerLinkActive="active">Show</button>
      <button type="button" class="btn btn-secondary" routerLink="/team-edit" routerLinkActive="active">Edit</button>
      <button type="button" class="btn btn-secondary" routerLink="/team-add" routerLinkActive="active">Add</button>
    </div>
    <div class="btn-group m-2" role="group">
      <button type="button" class="btn btn-success" disabled>Users</button>
      <button type="button" class="btn btn-secondary" routerLink="/users-show" routerLinkActive="active">Show</button>
      <button type="button" class="btn btn-secondary" routerLink="/user-edit" routerLinkActive="active">Edit</button>
      <button type="button" class="btn btn-secondary" routerLink="/user-add" routerLinkActive="active">Add</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
