<form class="form-group m-2">
        <h5>Enter information (some fields can be empty)</h5>
        <div class="form-group">
            <label for="firstNameInput2" id="firtsNameLabel2">First Name</label>
            <input type="text" class="form-control" id="firstNameInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="lastNameInput2" id="lastNameLabel2">Last Name</label>
            <input type="text" class="form-control" id="lastNameInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="emailInput2" id="emailLabel2">Email</label>
            <input type="text" class="form-control" id="emailInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="birthdayInput2" id="birthdayLabel2">Birthday</label>
            <input type="text" class="form-control" id="birthdayInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="registredAtInput2" id="registredAtLabel2">Registred at</label>
            <input type="text" class="form-control" id="registredAtInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="teamIdInput2" id="teamIdLabel2">Team Id</label>
            <input type="text" class="form-control" id="teamIdInput2" placeholder="Enter something">
        </div>
        <button type="button" class="btn btn-primary mb-2" id="changeButton2" (click)="addUser()">Add new item</button>
    </form>