<div>
        <div class="form-group m-3">
            <h4>Enter new information</h4>
            <label>Id</label>
            <input class="form-control" name="tId" [(ngModel)]="tId">
                <!-- <select class="form-control" name="pId" [(ngModel)]="pId"> -->
                    <!-- <option value="" selected>5</option>
                    <option selected disabled>none</option> -->
                    <!-- <option *ngFor="let project of projects">
                        {{project.id}}
                    </option>
                    
                </select> -->
            <label>First Name</label>
            <input class="form-control" name="tFirstName" [(ngModel)]="tFirstName">
            <label>Last Name</label>
            <input class="form-control" name="tLastName" [(ngModel)]="tLastName">
            <label>Email</label>
            <input class="form-control" naem="tEmail" [(ngModel)]="tEmail">
            <label>Birthday</label>
            <input class="form-control" name="tBirthday" [(ngModel)]="tBirthday">
            <label>Registred at</label>
            <input class="form-control" name="tRegistredAt" [(ngModel)]="tRegistredAt">
            <label>Team Id</label>
            <input class="form-control" name="tTeamId" [(ngModel)]="tTeamId">
            <div class="form-group">
                <button class="btn btn-success mt-2" (click)="editUser(tId, tFirstName, tLastName, tEmail, tBirthday, tRegistredAt, tTeamId)">Edit</button>
            </div>
        </div>
    </div>