<div id="projects-show" *ngFor = "let project of projects">
    <p><b>Id: </b>{{ project.id}}</p>
    <p><b>Name: </b>{{ project.name }}</p>
    <p><b>Description: </b>{{ project.description }}</p>
    <p><b>Created at: </b>{{project.createdAt | MyDatePipe}}</p>
    <p><b>Deadline: </b>{{ project.deadline | MyDatePipe}}</p>
    <p><b>Author Id: </b>{{ project.authorId }}</p>
    <p id="last-p"><b>TeamId: </b>{{ project.teamId }}</p>
</div>