<form class="form-group m-2">
        <h5>Enter information (some fields can be empty)</h5>
        <div class="form-group">
            <label for="nameInput2" id="nameLabel2">Name</label>
            <input type="text" class="form-control" id="nameInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="createdAtInput2" id="createdAtLabel2">Created at</label>
            <input type="text" class="form-control" id="createdAtInput2" placeholder="Enter something">
        </div>
        <button type="button" class="btn btn-primary mb-2" id="changeButton2" (click)="addTeam()">Add new item</button>
    </form>