<div id="users-show" *ngFor = "let user of users">
        <p><b>Id: </b>{{ user.id}}</p>
        <p><b>Firts Name: </b>{{ user.firstName }}</p>
        <p><b>LastName: </b>{{ user.lastName }}</p>
        <p><b>Email: </b>{{user.email}}</p>
        <p><b>Birthday: </b>{{ user.birthday | MyDatePipe}}</p>
        <p><b>Registred At: </b>{{ user.registredAt | MyDatePipe}}</p>
        <p id="last-p"><b>Team Id: </b>{{ user.teamId }}</p>
    </div>