<form class="form-group m-2">
        <h5>Enter information (some fields can be empty)</h5>
        <div class="form-group">
            <label for="nameInput2" id="nameLabel2">Name</label>
            <input type="text" class="form-control" id="nameInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="descriptionInput2" id="descriptionLabel2">Description</label>
            <input type="text" class="form-control" id="descriptionInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="createdAtInput2" id="createdAtLabel2">Created at</label>
            <input type="text" class="form-control" id="createdAtInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="finishedAtInput2" id="finishedAtLabel2">Finished at</label>
            <input type="text" class="form-control" id="finishedAtInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="stateInput2" id="stateLabel2">State</label>
            <input type="text" class="form-control" id="stateInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="projectIdInput2" id="projectIdLabel2">Project Id</label>
            <input type="text" class="form-control" id="projectIdInput2" placeholder="Enter something">
        </div>
        <div class="form-group">
            <label for="performerIdInput2" id="performerIdLabel2">Performer Id</label>
            <input type="text" class="form-control" id="performerIdInput2" placeholder="Enter something">
        </div>
        <button type="button" class="btn btn-primary mb-2" id="changeButton2" (click)="addProjectTask()">Add new item</button>
    </form>